{% extends 'base.html' %}

{% block content %}
<h1>Arab davlatlari</h1>
<p>Ikkinchi jahon urushidan keyin Arab xalqlari milliy-ozodlik kurashi yanada kuchaydi. Qator davlatlarda (Misr, Iroq, Liviya, Yaman) mustamlakachi davlatlar qoʻgʻirchogʻiga aylanib qolgan hukmron doiralar hokimiyati agʻdarildi.

Dastlab Jazoir, Marokash, Tunis va Sudan kabi davlatlar mustaqillikni qoʻlga kiritdilar. Chet el kapitali egallab olgan milliy boyliklar (Misrda Suvaysh kanali kompaniyasi, Iroqda neft kompaniyasi — Iroq petroleum) milliylashtirildi.

Mustaqil davlatlar ijtimoiy-siyosiy ittifoqlarga qoʻshilmaslik siyosatini yuritdilar. Biroq arab davlatlarining oʻzaro munosabatlari oʻtgan tarixiy davr mobaynida jiddiy sinovlarga duch keldi. Bu munosabat ba’zan doʻstona, ba’zan raqobat, hatto dushmanlik tusini ham oldi. Ayni paytda arab davlatlarining iqtisodiy taraqqiyot darajasi ham bir xil emas.

Arab davlatlarining ba’zilarida (Iroq va Suriya) uzoq vaqt yakka shaxs diktaturasi hukm surdi yoki hukm surmoqda. Falastin arab xalqi esa hamon oʻz mustaqil davlatiga ega emas. Biroq bu xalq oʻz davlatiga ega boʻlish yoʻlida qat’iy kurash olib bormoqda.</p>
{% endblock content %}