{% extends 'base.html' %}

{% block content %}
<h1>Qirgʻiziston</h1>
<p>Qirgʻiziston (qirgʻizcha: Кыргызстан [qɯrʁɯz'stɑn] Kirgizstan) yoki Qirgʻiz Respublikasi (qirgʻizcha: Кыргыз Республикасы) — Oʻrta Osiyoning shimoli-sharqida joylashgan davlat. Poytaxti — Bishkek shahri. Qirgʻiziston BMTning aʼzosidir. Mamlakat shimolda Qozogʻiston, gʻarbida Oʻzbekiston, janubi-gʻarbida Tojikiston va janubi-sharqida Xitoy Xalq Respublikasi joylashgan. Qirgʻiziston aholisi bugungi kunda 6 million kishidan ortiq. Uning 72,6 % qirgʻizlar, 14,34 % oʻzbeklar, 10,65 % ruslar va 8,31 % 5% tojiklar boshqa turli millat vakillari tashkil qiladi. Umuman mamlakatda 80 dan oshiq millat va elat vakillari istiqomat qiladilar. Qirgʻizistonning aholisi soni 6 550 000 kishi.</p>
{% endblock content %}